<h1 align="center"> Part 2: Time Series Data Nonlinear Regression, Shifting Dataframes, Daily Growth,</h1>

This code demonstrates how to view time series data in pandas as well as nonlinear regression, shifting dataframe, apply by month, 

**if this tutorial doesn't cover what you are looking for, please leave a comment on the youtube video and I will try to cover what you are interested in.**

<b> Part 1 </b>: https://www.youtube.com/watch?v=OwnaUVt6VVE

<h3 align='Left'> Importing Libraries</h3>

In [26]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

<h3 align='Left'> Getting Data and Viewing with Pandas </h3>

In [40]:
# https://pandas-datareader.readthedocs.io/en/latest/remote_data.html
google = web.DataReader('GOOG', data_source = 'google', start = '3/14/2009', end = '4/14/2016')
google = google.drop('Volume', axis = 1 )
google.head()

              Open    High     Low   Close
Date
2009-03-16  162.83  164.70  159.14  159.69
2009-03-17  159.93  167.50  159.39  167.50
2009-03-18  167.24  169.83  163.86  166.38
2009-03-19  165.67  167.83  163.53  164.81
2009-03-20  164.98  166.33  163.01  164.91

<h3 align='Left'> Calculate Daily Price Variation </h3>

shift in pandas
http://www.productiveegg.com/productive-egg-blog/how-python-pandas-makes.html

daily price variation:
http://finance.zacks.com/calculate-daily-price-variation-stocks-8299.html

In [52]:
daily_shift = (google['Open'].shift(-1) - google['Open'])
pd.DataFrame(data = daily_shift.head())

            Open
Date
2009-03-16 -2.90
2009-03-17  7.31
2009-03-18 -1.57
2009-03-19 -0.69
2009-03-20  1.63

In [53]:
# Difference between two columns
difference = google['High'] - google['Low']
pd.DataFrame(data = difference.head())

               0
Date
2009-03-16  5.56
2009-03-17  8.11
2009-03-18  5.97
2009-03-19  4.30
2009-03-20  3.32

<h3 align='Left'> Calculating Monthly Price Variation using a GroupBy </h3>

In [55]:
# First link is great others not so much
# http://stackoverflow.com/questions/24082784/pandas-dataframe-groupby-datetime-month
# http://stackoverflow.com/questions/30405413/python-pandas-extract-year-from-datetime-dfyear-dfdate-year-is-not